<header class="header">
  <div class="container-header">
    <h1 class="container-header__title">
      Cocktails
      <img
        class="container-header__title__img"
        src="./assets/images/cocktail.png"
      />
    </h1>
    <h2 class="container-header__h2">The Classics</h2>
    <p class="container-header__paragraph">
      Bienvenido a nuestra página de cócteles, donde encontrarás una amplia
      selección de bebidas para todos los gustos. Ya sea que estés buscando un
      clásico Old Fashioned o un refrescante Mojito, aquí tenemos algo para ti.
    </p>
  </div>
</header>
