<main class="main">
  <section>
    <form class="form js-form">
      <div class="form-div">
        <input
          type="text"
          placeholder="Introduce tu cóctel"
          class="js-inputuser form-div__input"
        />
        <input
          type="button"
          value="buscar"
          class="js-search form-div__searchButton"
        />
        <input
          type="button"
          value="reset"
          class="js-reset form-div__resetButton"
        />
      </div>
      <!-- <input type="button" value="log" class="js-log logButton" /> -->
    </form>
  </section>
  <section class="section2">
    <article>
      <h3 class="listTitle">Lista</h3>
      <ul class="js-list-drinks"></ul>
    </article>
    <article>
      <h3 class="favoritesTitle">Favoritos</h3>
      <ul class="js-list-favorites"></ul>
    </article>
  </section>
</main>
