<main class="main">
    <section>
        <form class="form js-form">
            <input type="text" placeholder="Introduce tu cóctel" class="js-inputuser input" />
            <input type="button" value="buscar" class="js-search searchButton"/>
            <input type="button" value="reset" class="js-reset resetButton" />
        </form>
    </section>
    <section class="section2">
        <article>
            <h3 class="listTitle">Lista</h3>
            <ul class="js-list-drinks"></ul>
        </article>
        <article>
            <h3 class="favoritesTitle">Favoritos</h3>
            <ul class="js-list-favorites"></ul>
        </article>
    </section>
    
</main>