@import "core/variables";
@import "core/reset";
@import "layout/header";
@import "pages/index";

.section2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 30px;
  // flex-wrap: wrap;
}

.image {
  height: 190px;
  width: 210px;
  margin: 10px 0 20px 20px;
  box-shadow: 6px 8px 15px;
}
.title2 {
  margin: 0 20px 0 20px;
  padding: 10px;
}
.title {
  margin-left: 20px;
}
.image2 {
  height: 190px;
  width: 210px;
  margin: 10px 25px 20px 25px;
  box-shadow: 6px 8px 15px;
}
.selected {
  background-color: #fd5e086b 100%;
  box-shadow: 6px 8px 15px black;
  margin: 20px 20px 20px 20px;
  padding-top: 20px;
  padding: 20px;
  height: 350px;
  width: 300px;
  border-radius: 10%;
}

.body {
  background-image: linear-gradient(135deg, #ae9cb9 10%, #fd5e086b 100%);
}
.form {
  display: flex;
  justify-content: center;
  margin-top: 90px;
  margin-bottom: 80px;
}
.form-div {
  &__input {
    padding: 20px 20px;
    font-size: 1.1em;
    border-radius: 25px;
    box-shadow: none;
    border: none;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.19);
  }
  &__searchButton {
    background-color: #ece1f4;
    border-radius: 25px;
    box-shadow: 5px 4px 6px rgba(0, 0, 0, 0.19);
    border: none;
    font-size: 20px;
    margin-left: 10px;
    padding: 20px;
    &:hover {
      background-color: #00f4db;
      color: white;
    }
  }
  &__resetButton {
    background-color: #ece1f4;
    border-radius: 25px;
    box-shadow: 5px 4px 6px rgba(0, 0, 0, 0.19);
    border: none;
    font-size: 20px;
    margin-left: 10px;
    padding: 20px;
    &:hover {
      background-color: #00f4db;
      color: white;
    }
  }
}

.listTitle {
  font-size: 50px;
  padding: 20px;
  margin-right: 130px;
  text-align: center;
  color: white;
  font-family: "Dancing Script", cursive;
  &__cocktail {
    font-family: "Caveat", cursive;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
.favoritesTitle {
  font-size: 50px;
  padding: 20px;
  color: white;
  font-family: "Dancing Script", cursive;
}
.title2 {
  font-family: "Caveat", cursive;
}

@media (min-width: 768px) {
  // .section2 {
  //   display: flex;
  //   flex-direction: column;
  // }
}
