@import 'core/variables';
@import 'core/reset';
@import 'layout/header';
@import 'layout/footer';
@import 'pages/index';

.section2 {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.image {
    height: 295px;
    width: 210px;
}
.selected {
    background-color: darkcyan;
    
}