@import 'core/variables';
@import 'core/reset';
@import 'layout/header';
@import 'pages/index';

* {
    margin: 50px;
    padding: 20px;
}
.section2 {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 30px;
}

.image { 
    height: 295px;
    width: 210px;
    padding-left: 45px;
    margin-bottom: 30px;
    
}
.selected {
    background-color: rgb(224, 240, 230)
    
}

.body {
    background-color: rgb(162, 123, 201);
    
}

.input {
    margin: 0px;
    font-size: 30px;
    border-radius: 30px;
    
}

.searchButton,
.resetButton {
    margin: 10px;
    font-size: 30px;
    padding: 10px;
    border-radius: 20px;
}

.searchButton:hover,
.resetButton:hover {
    background-color: #4d364d;
    color: white;
    
}

.listTitle,
.favoritesTitle {
    font-size: 50px;
    padding: 20px;
    text-align: center;

}

.title {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}






